@font-face {
    font-family: "Spaceboy";
    src : url("spaceboy.ttf");
}

.label {
    color  : rgb(51, 210, 206);
    font-family: "Spaceboy";
    font-size  : 1.8em;
    alignment  : center;
}

button + span span.text {
    alignment          : center;
    font-family        : "Spaceboy";
    font-size          : 1.5em;
    color              : rgb(51, 210, 206);
}

button {
    background-color   : transparent;
    faint-focus-color  : transparent;
    background-insets  : 0;
    background-radius  : 0;
    highlight-fill     : transparent;
    padding            : 0 0 0.5em 0;
    border-color       : rgb(51, 210, 206);
    border-width       : 0.08333333em;
    border-radius      : 1em;
}